<!DOCTYPE html>
<html lang="en">

<head>
    {{>css}}

    <title>Document</title>
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/sh1.jpg" alt="Thapa" class="img-fluid" title="Picture">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcone to Weather app</p>
                        <h1>I Am A <span class="sp_cls"> Mern Stake Developer </span> Youtuber and a freelancer</h1>
                        <a href="https://www.youtube.com/" target="_youtube"><button>About Me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {{>footer}}



</body>

</html>